<ul>
    {{#each this}}
    <li class="product-card">
        <img class="product-img" src="./images/Rectangle 7.jpg" alt="" />
        <div class="product-content">
            <h3 class="product-name">Наименование</h3>
            <p class="product-price">Цена</p>
        </div>
    </li>
    {{/each}}
</ul>