<div class="backdrop is-hidden">

    <div class="create-ad">
        <span class="close-form"><svg class="close-form-icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-close_icon"></use>
            </svg></span>
        <p class="create-ad-slogan">
            Редагувати оголошення
        </p>
        <form class="create-ad-form">
            <ul class="create-ad-form-list">
                <li class="create-ad-form-item">
                    <label class="create-ad-form-label" for="name">Назва товару</label>
                    <input class="create-ad-form-input" type="text" name="name" id="name" placeholder=" " />
                </li>
                <li class="create-ad-form-item">
                    <label class="create-ad-form-label" for="photo">Фото</label>
                    <ul class="create-ad-photo-list">
                        <li class="create-ad-photo">
                            <a class="plus-photo">+</a>
                        </li>
                        <li class="create-ad-photo">
                            <a class="plus-photo">+</a>
                        </li>
                        <li class="create-ad-photo">
                            <a class="plus-photo">+</a>
                        </li>
                        <li class="create-ad-photo">
                            <a class="plus-photo">+</a>
                        </li>
                        <li class="create-ad-photo">
                            <a class="plus-photo">+</a>
                        </li>
                        <li class="create-ad-photo">
                            <a class="plus-photo">+</a>
                        </li>
                    </ul>
                </li>
                <li class="create-ad-form-item">
                    <label class="create-ad-form-label" for="description">Опис товару</label>
                    <textarea class="create-ad-form-input" name="description" id="description" cols="10" rows="3"
                        placeholder=" "></textarea>
                </li>
                <li class="create-ad-form-item">
                    <label class="create-ad-form-label" for="category">Категория товару</label>
                    <select class="create-ad-form-input">
                        <option></option>
                        <option>Нерухомість</option>
                        <option>Транспорт</option>
                        <option>Робота</option>
                        <option>Електроніка</option>
                        <option>Бізнес та послуги</option>
                        <option>Відпочинок та спорт</option>
                        <option>Віддам безкоштовно</option>
                        <option>Обмін</option>
                    </select>
                </li>
                <li class="create-ad-form-item">
                    <label class="create-ad-form-label" for="price">Ціна</label>
                    <input class="create-ad-form-input" type="text" name="price" id="price" placeholder="0.00 грн" />
                </li>
                <li class="create-ad-form-item">
                    <label class="create-ad-form-label" for="phone">Телефон</label>
                    <input class="create-ad-form-input" type="text" name="phone" id="phone"
                        placeholder="+38 (0--) --- -- --" />
                </li>

            </ul>
            <div class="delete-ad">
                <span class="delete-ad-icon"><svg width="14" height="14">
                        <use href="./images/sprite.svg#icon-share-icon"></use>
                    </svg></span>
                <p class="delete-ad-slogan">
                    Видалити оголошення
                </p>
            </div>
            <div class="button-save-cancel">
                <button type="submit" class="edit-ad-save">
                    Зберегти
                </button>
                <button type="reset" class="edit-ad-cancel">
                    Відміна
                </button>
            </div>

        </form>
    </div>
</div>