{{!-- <div data-action="mark-card" class="gallery"> --}}
    <div class="categories-group">
        <div class="categories">
            <div data-action="mark-card" class="gallery">
                {{#each this}}
                <div class="one-categories">
                    <div class="categories-title">
                        <a data-action="prev-card" class="icon-left arrow prev">
                            <svg class="icon-left-svg" width="30" height="30">
                                <use href="./images/sprite.svg#icon-elem-left"></use>
                            </svg></a>
                        <h2 class="section-title">{{tran}}</h2>
                        <button data-atribute="{{category}}" class="section-text">Дивитися всі</button>
                        {{!-- <a class="section-text" href="">Дивитися всі</a> --}}
                        <a data-action="next-card" class="icon-right arrow next">
                            <svg class="icon-right-svg" width="30" height="30">
                                <use href="./images/sprite.svg#icon-elem-right"></use>
                            </svg></a>
                    </div>
                    <ul data-category="{{category}}" class="product-card-group images">
                        <!-- вставляем карточки товара -->
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>
        <div>
            <button class="button-next-pages button-is-hiden">1</button>
            <button class="button-next-pages button-is-hiden">2</button>
            <button class="button-next-pages button-is-hiden">3</button>
        </div>

    </div>