{{!-- <ul class="product-card-group images"> --}}
    {{#each this}}
    <li class="product-card">
        <div class="product-image">
            {{#each imageUrls }}
            <img class="product-img" src="{{ this }}" alt="{{title}}" />
            {{/each }}

            <div class="product-overlay">
                <button class="product-card-icon product-card-icon-favorite">
                    <svg class="icon" width="16" height="16">
                        <use href="./images/sprite.svg#icon-favorite-icon"></use>
                    </svg>
                </button>
                <button class="product-card-icon product-card-icon-fullscreen">
                    <svg class="icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-full-screen"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="product-content">
            <h3 class="product-name">{{title}}</h3>
            <p class="product-price">{{price}} грн</p>

        </div>
    </li>
    {{/each}}

    {{!--
</ul> --}}