<ul class="product-category">
    <li class="product-category-item">Нерухомість</li>
    <li class="product-category-item">Транспорт</li>
    <li class="product-category-item">Робота</li>
    <li class="product-category-item">Електроніка</li>
    <li class="product-category-item">Бізнес та послуги</li>
    <li class="product-category-item">Відпочинок та спорт</li>
    <li class="product-category-item">Віддам безкоштовно</li>
    <li class="product-category-item">Обмін</li>
</ul>