$mobile: 320px;
$before-mobile: $mobile - 1px;
$post-mobile: $mobile + 1px;
$tablet: 768px;
$before-tablet: $tablet - 1px;
$post-tablet: $tablet + 1px;
$desktop: 1280px;
$before-desktop: $desktop - 1px;
$post-desktop: $desktop + 1px;
