$primary-color: #000000;
$secondary-color: #878686;
$background-color: #e5e5e5; /*кроме модалок*/
$white-text: #ffffff;
$modal-text: #bbbbbb;
$accent-orange: #ff6b09;
$accent-grey: #f5f6fb;
$container-edge-color: #e2e3e5; /*линия на пересечении границ контейнеров*/
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile-modal-container-width: 290px; /*контейнер модалки*/
$mobile-modal-container-height: 780px;
$tablet-modal-container-width: 724px;
$tablet-modal-container-height: 615px;
$desktop-modal-container-width: 860px;
$desktop-modal-container-height: 668px;

$transition: 500ms cubic-bezier(0.4, 0, 0.2, 1); /*анимация*/

$font-family: 'Montserrat', sans-serif;
$font-family: 'Roboto', sans-serif;
