<!-- Footer -->
<footer class="footer-container">
    <div class="footer-copyright">
        <svg class="footer-copyright-svg" width="18" height="18">
            <use href="./images/sprite.svg#icon-copyright"></use>
        </svg>
        <p class="footer-copyright-year">2019</p>
    </div>
    <p class="footer-copyright-text">All Rights Reserved</p>
    <p>Developed with</p>
    <svg class="icon-love-icon" width="16" height="16">
        <use href="./images/sprite.svg#icon-love-icon"></use>
    </svg>

    <p>by <u>GoIT Students</u></p>

</footer>