<header class='container'>
    <div>
        <button type="button"></button>
        <a href="" class="logo">LOGO</a>
        <div>
            <button type="button">Реєстрація / Увійти</button>
            <button type="button">Створити оголошення!</button>

        </div>
    </div>
    <div>
        <ul>
            <li>Нерухомість</li>
            <li>Транспорт</li>
            <li>Робота</li>
            <li>Електроніка</li>
            <li>Бізнес та послуги</li>
            <li>Відпочинок і спорт</li>
            <li>Віддам безкоштовно</li>
            <li>Обмін</li>
        </ul>
        <button type="reset">Очистити фільтри</button>
    </div>

</header>