<!-- FM-25 Сверстать контейнер главной страницы (одинаковый и для главной страницы, и для отображения конкретной категории товаров): мобилка, планшет, десктоп -->

<section class="section">
    <div class="main-container">

        <!-- все что ниже, динамически тянется с бека -->
        <div class="categories-group">
            <ul class="product-card-one-group">
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>

            </ul>
        </div>

        <div>
            <button class="button-next-pages">1</button>
            <button class="button-next-pages">2</button>
            <button class="button-next-pages">3</button>
        </div>

    </div>
</section>
    