<!-- FM-25 Сверстать контейнер главной страницы (одинаковый и для главной страницы, и для отображения конкретной категории товаров): мобилка, планшет, десктоп -->


        <div class="categories-group">
            <div class="categories">
                <div class="categories-title">
                    <button class="button-left"><svg class="icon-elem-left" width="18" height="18">
                            <use href="./images/sprite.svg#icon-elem-left"></use>
                        </svg></button>
                    <h2 class="section-title">РОЗПРОДАЖ РІЗНЕ</h2>
                    <a class="section-text" href="">Дивитися всі</a>
                    <button class="button-right"><svg class="icon-elem-right" width="18" height="18">
                            <use href="./images/sprite.svg#icon-elem-right"></use>
                        </svg></a>
                </div>
                <div class="gallery">
                    <ul class="product-card-group images">
                        <li class="product-card">
                            <div class="product-image">
                                <img class="product-img" src="./images/rectangle-7.jpg" alt="" />
                                <div class="product-overlay">
                                    <button class="product-card-icon product-card-icon-favorite">
                                        <svg class="icon" width="16" height="16">
                                            <use href="./images/sprite.svg#icon-favorite-icon"></use>
                                        </svg>
                                    </button>
                                    <button class="product-card-icon product-card-icon-fullscreen">
                                        <svg class="icon" width="16" height="16">
                                            <use href="./images/sprite.svg#icon-fullscreen-icon"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="product-name">Наименование карточки</h3>
                                <div class="product-content-price">
                                    <p class="product-price-initial decorative-line">Цена</p>
                                    <p class="product-price-sale">Цена грн</p>
                                </div>
                            </div>
                        </li>
                        <li class="product-card">
                            <div class="product-image">
                                <img class="product-img" src="./images/rectangle-7.jpg" alt="" />
                                <div class="product-overlay">
                                    <button class="product-card-icon product-card-icon-favorite">
                                        <svg class="icon" width="16" height="16">
                                            <use href="./images/sprite.svg#icon-favorite-icon"></use>
                                        </svg>
                                    </button>
                                    <button class="product-card-icon product-card-icon-fullscreen">
                                        <svg class="icon" width="16" height="16">
                                            <use href="./images/sprite.svg#icon-fullscreen-icon"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="product-name">Наименование карточки</h3>
                                <div class="product-content-price">
                                    <p class="product-price-initial decorative-line">Цена</p>
                                    <p class="product-price-sale">Цена грн</p>
                                </div>
                            </div>
                        </li>
        
                        <li class="product-card">
                            <div class="product-image">
                                <img class="product-img" src="./images/rectangle-7.jpg" alt="" />
                                <div class="product-overlay">
                                    <button class="product-card-icon product-card-icon-favorite">
                                        <svg class="icon" width="16" height="16">
                                            <use href="./images/sprite.svg#icon-favorite-icon"></use>
                                        </svg>
                                    </button>
                                    <button class="product-card-icon product-card-icon-fullscreen">
                                        <svg class="icon" width="16" height="16">
                                            <use href="./images/sprite.svg#icon-fullscreen-icon"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="product-name">Наименование карточки</h3>
                                <div class="product-content-price">
                                    <p class="product-price-initial decorative-line">Цена</p>
                                    <p class="product-price-sale">Цена грн</p>
                                </div>
                            </div>
                        </li>
                        <li class="product-card">
                            <div class="product-image">
                                <img class="product-img" src="./images/rectangle-7.jpg" alt="" />
                                <div class="product-overlay">
                                    <button class="product-card-icon product-card-icon-favorite">
                                        <svg class="icon" width="16" height="16">
                                            <use href="./images/sprite.svg#icon-favorite-icon"></use>
                                        </svg>
                                    </button>
                                    <button class="product-card-icon product-card-icon-fullscreen">
                                        <svg class="icon" width="16" height="16">
                                            <use href="./images/sprite.svg#icon-fullscreen-icon"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="product-name">Наименование карточки</h3>
                                <div class="product-content-price">
                                    <p class="product-price-initial decorative-line">Цена</p>
                                    <p class="product-price-sale">Цена грн</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        
            <!-- моя категория + карусель -->

            </div>
        </div>
    