<!-- Модалка выхода из аккаунта -->
<div class="modal-sign-out is-hidden" data-modal></div>
<div class="sign-out-modal">
    <button class="auth-close-button" data-modal-close>
        <svg class="auth-close-icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-close_icon"></use>
        </svg>
    </button>
    <p class="auth-modal-title">Ви дійсно хочете вийти з акаунта?</p>
            <div class="auth-buttons">
            <button type="submit" class="button-orange">Увійти</button>
            <button type="submit" class="button-gray">Зареєструватись</button>
        </div>