ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.container-card {
  margin-left: auto;
  margin-right: auto;
}

.product-title {
  font-family: Montserrat;
  font-style: Bold;
  font-size: 12px;
  line-height: 15px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 9%;
  fill: Solid #000000;
}
.product-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: #000000;
}
.product-price-sale {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #ff6b09;
}
.product-price-initial {
  padding-left: 4px;
  padding-right: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;

  color: #bbbbbb;
}
.product-content-price {
  display: flex;
}
.decorative-line {
  margin-right: 6px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    //background-color: currentColor;
    border: 1px solid #000000;
    bottom: 7px;
    left: 0px;
  }
}

.product-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;

  color: #000000;
}

.product-card-group {
  display: flex;
  flex-wrap: wrap;
}
.product-img {
  width: 100%;
}

.product-card {
  margin-bottom: 20px;
  background: #ffffff;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
  /*&:last-child {
    margin-bottom: 0;
  }*/
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    margin-bottom: 20px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1281px) {
    width: calc((100% - 20px * 3) / 4);
    margin-right: 20px;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.product-content {
  margin: 20px 0px 20px 20px;
}
.product-image {
  position: relative;
  display: block;
}
.product-overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.product-image:hover .product-overlay,
.product-image:focus .product-overlay {
  opacity: 1;
  visibility: visible;
}
.product-card-icon-favorite {
  top: 20px;
  right: 20px;
  margin: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.product-card-icon-fullscreen {
  bottom: 20px;
  right: 20px;
  margin: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.product-card-icon-favorite-user {
  top: 20px;
  right: 20px;
  margin: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  fill: #ff6b09;
}
.product-card-icon {
  position: absolute;
}
.product-card-icon-edit {
  top: 44px;
  right: 20px;
  margin: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
